<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviando ur archivo</title>
</head>
<body>
    <h1>'hola mundo'</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi velit ab itaque rerum molestias? Impedit dolores placeat ipsa tenetur velit est tempora suscipit nesciunt blanditiis, optio exercitationem illo laborum eum.
        
    </p>
    
</body>
</html>